@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(images/bg.jpg);
    height: 700px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
}

.logo img {
    width: 313px;
    margin-bottom: 0px;
    margin-top: -44px;
    margin-left: -36px;
    position: relative;
    z-index: 10;
}

.btns {
    position: relative;
    z-index: 10;
    padding: 28px 0 0 0;
}

.btns>:nth-child(1) {
    margin: 0 30px 0 0;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    background-color: #00000040;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.btns>:nth-child(2) {
    margin: 0 30px 0 0;
    width: 70px;
    height: 35px;
    background-color: red;
    border: 0px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.box {
    background-color: black;
    height: 700px;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

.hero {
    height: 564px;

    font-family: "Martel Sans", sans-serif;
    height: 550px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.text> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    display: flex;
    justify-content: center;
}

.text> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.text> :nth-child(3) {
    margin: 20px 0 30px 0;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.input input::placeholder {
    font-weight: bold;
}

.input> :nth-child(1) {
    font-family: "Martel Sans", sans-serif;
    font-weight: bolder;
    padding: 0 0 0 10px;
    margin: 0 10px;
    width: 350px;
    height: 60px;
    opacity: 0.8;
    background-color: #2f3845a6;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

.input>:nth-child(2) {
    font-family: "Martel Sans", sans-serif;
    width: 200px;
    height: 60px;
    background-color: red;
    border: 0px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.break {
    height: 8px;
    background-color: #383636;
}


.first {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}


.image1 {
    width: 700px;
    margin: 30px 50px 0 -20px;
    position: relative;
    padding: 0 150px 0 0;
}

.image1 img {
    position: relative;
    z-index: 10;
    left: 108px;
}

.image1 video {
    position: absolute;
    top: 92px;
    right: 118px;
}

.subs1 {
    padding: 0 0 0 100px;
}

.subs1 h2 {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-size: 42px;
}

.subs1 p {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
}


.second {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.subs2 h2{
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-size: 42px;
}
.subs2 p {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
}