@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(images/bg.jpg);
    height: 700px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
}

.logo img {
    width: 313px;
    margin-bottom: 0px;
    margin-top: -44px;
    margin-left: -36px;
    position: relative;
    z-index: 10;
}

.btns {
    position: relative;
    z-index: 10;
    padding: 28px 0 0 0;
}

.btns>:nth-child(1) {
    margin: 0 30px 0 0;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    background-color: #00000040;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.btns>:nth-child(2) {
    margin: 0 30px 0 0;
    width: 70px;
    height: 35px;
    background-color: red;
    border: 0px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.btns>:nth-child(2):hover{
    background-color: rgb(191, 0, 0);
}
.box {
    background-color: black;
    height: 700px;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

.hero {
    height: 564px;

    font-family: "Martel Sans", sans-serif;
    height: 550px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.text> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    display: flex;
    justify-content: center;
}

.text> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.text> :nth-child(3) {
    margin: 20px 0 30px 0;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.input input::placeholder {
    font-weight: bold;
}

.input> :nth-child(1) {
    font-family: "Martel Sans", sans-serif;
    font-weight: bolder;
    padding: 0 0 0 10px;
    margin: 0 10px;
    width: 350px;
    height: 60px;
    opacity: 0.8;
    background-color: #2f3845a6;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

.input>:nth-child(2) {
    font-family: "Martel Sans", sans-serif;
    width: 200px;
    height: 60px;
    background-color: red;
    border: 0px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.input>:nth-child(2):hover{
    background-color: rgb(191, 0, 0);
}

.break {
    height: 8px;
    background-color: #383636;
}


.first {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}


.image1 {
    width: 700px;
    margin: 30px 50px 0 -20px;
    position: relative;
    padding: 0 150px 0 0;
}

.image1 img {
    position: relative;
    z-index: 10;
    left: 108px;
}

.image1 video {
    position: absolute;
    top: 92px;
    right: 118px;
}

.subs1 {
    padding: 0 0 0 100px;
}

.subs1 h2 {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-size: 42px;
}

.subs1 p {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
}


.second {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.subs2 h2 {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-size: 42px;
}

.subs2 p {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.third {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}


.image3 {
    width: 700px;
    margin: 30px 50px 0 -20px;
    position: relative;
    padding: 0 150px 0 0;
}

.image3 img {
    position: relative;
    z-index: 10;
    left: 108px;
}

.image3 video {
    width: 400px;
    position: absolute;
    top: 38px;
    right: 165px;
}

.subs3 {
    padding: 0 0 0 100px;
}

.subs3 h2 {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-size: 42px;
}

.subs3 p {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
}


.fourth {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.fifth {
    padding: 40px 0;
    color: white;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq {
    font-size: 48px;
    font-weight: 900;
    font-family: "Martel Sans", sans-serif;
}

.questions {
    margin: 0 0 0 0;
}

.one {
    margin: 0 0 10px 0;
    background-color: rgb(45, 45, 45);
    height: 44px;
    width: 75vw;
    align-content: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    cursor: pointer;
    transition: background-color 0.5s;
}

.one p {
    margin: -20px 0 0px 915px;
    font-size: 51px;
}
.one:hover{
    background-color: #9a9a9a66;
}

.two {
    margin: 10px 0 10px 0;
    background-color: rgb(45, 45, 45);
    height: 44px;
    width: 75vw;
    align-content: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    cursor: pointer;
    transition: background-color 0.5s;
}

.two p {
    margin: -20px 21px 0px 764px;
    font-size: 51px;
    
}
.two:hover{
    background-color: #9a9a9a66;
}

.three {
    margin: 10px 0 10px 0;
    background-color: rgb(45, 45, 45);
    height: 44px;
    width: 75vw;
    align-content: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    cursor: pointer;
    transition: background-color 0.5s;
}

.three p {
    margin: -20px 21px 0px 876px;
    font-size: 51px;
}
.three:hover{
    background-color: #9a9a9a66;
}

.four {
    margin: 10px 0 10px 0;
    background-color: rgb(45, 45, 45);
    height: 44px;
    width: 75vw;
    align-content: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    cursor: pointer;
    transition: background-color 0.5s;
}

.four p {
    margin: -20px 21px 0px 908px;
    font-size: 51px;

}
.four:hover{
    background-color: #9a9a9a66;
}

.five {
    margin: 10px 0 10px 0;
    background-color: rgb(45, 45, 45);
    height: 44px;
    width: 75vw;
    align-content: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    cursor: pointer;
    transition: background-color 0.5s;
}

.five p {
    margin: -20px -128px 0px 770px;
    font-size: 51px;
}
.five:hover{
    background-color: #9a9a9a66;
}

.six {
    margin: 10px 0 10px 0;
    background-color: rgb(45, 45, 45);
    height: 44px;
    width: 75vw;
    align-content: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    cursor: pointer;
    transition: background-color 0.5s;
}

.six p {
    margin: -21px -85px 0px 830px;
    font-size: 51px;

}
.six:hover{
    background-color: #9a9a9a66;
}

.last_info {
    margin: 37px 0;
    font-size: 20px;
    font-weight: 400;
}

.subs4 h2 {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-size: 42px;
}

.subs4 p {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
}


footer {
    background-color: black;
    height: 400px;
    padding: 100px 100px 0 100px;
    display: block;
    justify-content: flex-start;

}

footer p {
    font-family: "Martel Sans", sans-serif;
    height: 25px;
    margin: 29px 0 0 0;
    padding: 7px 100px 27px 47px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.links {
    display: flex;
}

.f1 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    margin: 7px 0;
}

.f1 {
    font-family: "Martel Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;

    margin: 0 79px 0 51px;
}

footer> :nth-child(3) {
    margin: 34px 35px 0 45px;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    background-color: #00000040;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.et {
    margin: 30px 0 0 43px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Martel Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}